# Project policies.
#
# These policies can be enforced using `cargo deny check`.

[licenses]
# In cargo-deny 0.16.0+, all licenses are denied by default unless explicitly
# allowed. This means unlicensed code, copyleft licenses, and AGPL are
# automatically denied since they're not in the allow list.

# Allow common non-restrictive licenses.
allow = ["MIT", "Apache-2.0", "BSD-3-Clause", "Unicode-3.0"]

# Also fine to allow.  ISC is used for various DNS and crypto things, and it's a
# minimally restrictive open source license.
#
# "BSD-2-Clause", "ISC", "OpenSSL", "Zlib"

[bans]
# Do we want to know about multiple versions of the same dependency?
multiple-versions = "allow"

deny = [
    # Tools using Postgres C libraries are not permitted in this repository,
    # because they require special build machinery that this repository does
    # not support.
    { name = "libpq-sys" },

    # OpenSSL has caused endless deployment and build problems, and we want
    # nothing to do with it. It is definitely not permitted in this repository,
    # because our build system does not support it.
    { name = "openssl-sys" },
]
