name: Release catcsv

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to release (e.g., 1.0.1)"
        required: true
        type: string

jobs:
  create_release:
    name: Create GitHub release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v2

      - name: Create tag
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git tag catcsv_v${{ inputs.version }}
          git push origin catcsv_v${{ inputs.version }}

      - name: Extract release body from CHANGELOG.md
        id: extract_release_body
        run: |
          curl -sLO https://github.com/marcaddeo/clparse/releases/download/0.8.0/clparse-0.8.0-x86_64-unknown-linux-musl.tar.gz
          tar xzf clparse*.tar.gz
          sudo cp clparse /usr/local/bin
          rm -rf clparse*
          clparse -f json catcsv/CHANGELOG.md | \
            jq ".releases[] | select(.version == \"${{ inputs.version }}\") | { title: \"\", description: \"\", releases: [.] }" | \
            clparse - | \
            tail -n +3 > RELEASE_BODY.md

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: catcsv_v${{ inputs.version }}
          release_name: "catcsv ${{ inputs.version }}"
          body_path: RELEASE_BODY.md

  build:
    name: Build and upload binaries
    needs: create_release
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-musl
            host: x86_64-unknown-linux-musl
            cargo: cross
            os: ubuntu-latest
          - target: x86_64-apple-darwin
            host: x86_64-apple-darwin
            cargo: cargo
            os: macos-latest
          - target: aarch64-apple-darwin
            host: x86_64-apple-darwin
            cargo: cargo
            os: macos-latest
          - target: x86_64-pc-windows-gnu
            host: x86_64-unknown-linux-musl
            cargo: cross
            os: ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy
          target: ${{ matrix.target }}

      - uses: actions/checkout@v2

      - name: Build release
        working-directory: .
        run: |
          export RELEASE_VERSION="${{ inputs.version }}"
          ./build-release catcsv ${{ matrix.target }} ${{ matrix.host }} ${{ matrix.cargo }}

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_release.outputs.upload_url }}
          asset_path: ./catcsv_v${{ inputs.version }}_${{ matrix.target }}.zip
          asset_name: catcsv_v${{ inputs.version }}_${{ matrix.target }}.zip
          asset_content_type: application/zip
